<div class="modal" tabindex="-1" id="legalNoticeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rechtliche Hinweise</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Die auf dieser Karte angezeigten Informationen dienen nur zur Orientierung. Sie sollten immer die lokalen Gesetze und Vorschriften beachten, bevor Sie rauchen. Diese Karte nimmt Ihnen nicht die Verantwortung ab, sich über die geltenden Gesetze zu informieren und diese einzuhalten.</p>
                <p>Im Folgenden finden Sie einen Auszüg aus dem Cannabisgesetz:</p>
                <hr>
                <h5>§5 Konsumverbot</h5>
                <ol>
                    <li>Der Konsum von Cannabis in unmittelbarer Gegenwart von Personen, die das 18. Lebensjahr noch nicht vollendet haben, ist verboten.</li>
                    <li>Der öffentliche Konsum von Cannabis ist verboten:
                        <ol>
                            <li>in Schulen und in deren Sichtweite,</li>
                            <li>auf Kinderspielplätzen und in deren Sichtweite,</li>
                            <li>in Kinder- und Jugendeinrichtungen und in deren Sichtweite,</li>
                            <li>in öffentlich zugänglichen Sportstätten und in deren Sichtweite,</li>
                            <li>in Fußgängerzonen zwischen 7 und 20 Uhr und</li>
                            <li>innerhalb des befriedeten Besitztums von Anbauvereinigungen und in deren Sichtweite.</li>
                        </ol>
                        Im Sinne von Satz 1 ist eine Sichtweite bei einem Abstand von mehr als 100 Metern von dem Eingangsbereich der
                        in Satz 1 Nummer 1 bis 4 und 6 genannten Einrichtungen nicht mehr gegeben.
                    </li>
                    <li>In militärischen Bereichen der Bundeswehr ist der Konsum von Cannabis verboten.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>