<div class="modal" tabindex="-1" id="mapSettingsModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Map Einstellungen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="mapSettingsForm">
                <div class="modal-body">
                        <h5>Map Marker</h5>
                        <div class="form-check">
                            <input class="form-check-input" name="showUserMarker" type="checkbox" value="true" id="showUserMarker" checked>
                            <label class="form-check-label" for="showUserMarker">
                                User Marker anzeigen
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" name="showBudBashMarker" type="checkbox" value="true" id="showBudBashMarker" checked>
                            <label class="form-check-label" for="showBudBashMarker">
                                Bud Bash Marker anzeigen
                            </label>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
                    <button type="submit" class="btn btn-primary">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>