{% extends 'base.html.twig' %}

{% block title %}Cannabis Consumption Compliance Map{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('leafletConfig') }}
{% endblock %}

{% block body %}

    {% include 'compliance_map/_legal_notice.html.twig' %}
    {% include 'compliance_map/_add_marker_modal.html.twig' %}

    <div id="map"></div>
{% endblock %}
