{% extends 'base.html.twig' %}

{% block title %}Cannabis Consumption Compliance Map{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('leafletConfig') }}
{% endblock %}

{% block body %}

    <div id="map"></div>


{% endblock %}
