<div class="modal fade" id="ageVerification" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 text-center">
                        <h2>Alter verifizieren</h2>
                        <p>Um diese Seite zu betreten, musst du mindestens 18 Jahre alt sein.</p>
                        <p>Bitte bestätige dein Alter.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="ageVerification_olderThan18">Ich bin 18 oder älter</button>
                    </div>
                    <div class="col-6 text-center">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="ageVerification_youngerThan18">Ich bin unter 18</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>