{% extends 'base.html.twig' %}

{% block title %}Hello CannaStrainLibraryController!{% endblock %}

{% block body %}
    <style>
        .container-fluid {
            margin: 1em;
            width: 98%}
        #filters-container {
            width: 20%;
        }
        .filter-icon {
            margin-right: 0.5em;
        }
        #myTabContent {
            height: 400px;
        }
        .cropped-img {
            width: auto;
            height: 200px;
            overflow: hidden;
            object-fit: cover;
        }

    </style>

    <div class="container-fluid">
        <h1 class="text-uppercase mb-4">Datenbank</h1>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Sorten</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Zubehör</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Sonstiges</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="d-flex flex-row border-top-4" id="database-container">
                    <div class="d-flex flex-column border-right" id="filters-container">

{#                        {{ for filter in filters}}#}
                            <div class="flex-item d-flex flex-row justify-content-between p-3 mt-3" id="filters">
                                <div class="flex-item">
                                    <i class="fa-solid fa-sliders filter-icon"></i>
                                    <span>Filter</span>
                                </div>
                                <i class="fa-solid fa-xmark"></i>
                            </div>

                            <div class="flex-item p-3">
                                <div class="d-flex flex-row justify-content-between mb-3">
                                    <span class="text-uppercase fw-bold">Herkunft</span>
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                                <div class="mb-2">
                                    <i class="fa-solid fa-cannabis fa-sm filter-icon" style="color: #ff6b6b;"></i>
                                    <span>indica</span>
                                </div>
                                <div class="mb-2">
                                    <i class="fa-solid fa-cannabis fa-sm filter-icon" style="color: #feca57;"></i>
                                    <span>sativa</span>
                                </div>
                                <div class="mb-2">
                                    <i class="fa-solid fa-cannabis fa-sm filter-icon" style="color: #1dd1a1;"></i>
                                    <span>ruderalis</span>
                                </div>
                                <div class="mb-2">
                                    <i class="fa-solid fa-cannabis fa-sm filter-icon" style="color: #000000;"></i>
                                    <span>unbekannt</span>
                                </div>
                            </div>

                            <div class="flex-item p-3">
                                <div class="d-flex flex-row justify-content-between mb-3">
                                    <span class="text-uppercase fw-bold">Strain-Typ</span>
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                                <div class="mb-2">
                                    <span>Nur nicht femisierte</span>
                                </div>
                                <div class="mb-2">
                                    <span>nur femisierte</span>
                                </div>
                                <div class="mb-2">
                                    <span>close only strains</span>
                                </div>
                            </div>

                            <div class="flex-item p-3">
                                <div class="d-flex flex-row justify-content-between mb-3">
                                    <span class="text-uppercase fw-bold">Preisspanne</span>
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                                <div class="d-flex flex-row gap-4 mb-2">
                                    <div class="input-group">
                                        <span class="input-group-text">€</span>
                                        <input type="number" min="0" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="min">
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-text">€</span>
                                        <input type="number" min="0" step="0.01" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="max">
                                    </div>
                                </div>
                            </div>

                            <div class="flex-item p-3">
                                <div class="d-flex flex-row justify-content-between mb-3">
                                    <span class="text-uppercase fw-bold">Aufzucht</span>
                                    <i class="fa-solid fa-caret-down"></i>
                                </div>
                                <div class="mb-2">
                                    <i class="fa-solid fa-house fa-sm filter-icon"></i>
                                    <span>Indoor-Sorten</span>
                                </div>
                                <div class="mb-2">
                                    <i class="fa-solid fa-sun-plant-wilt fa-sm filter-icon"></i>
                                    <span>Outdoor-Sorten</span>
                                </div>
                                <div class="mb-2">
                                    <i class="fa-solid fa-leaf fa-sm filter-icon"></i>
                                    <span>Lorem ipsum</span>
                                </div>
                            </div>

{#                        {{ endfor }}#}
                    </div>

                    <div class="flex-grow-1" id="results">
                        <div class="container">
                            <div class="row">
                                <div class="col p-3">
                                    <div class="card rounded-3 mb-4" style="width: auto;">
                                        <div class="cropped-img rounded-top-3">
                                            <img src="https://images.unsplash.com/photo-1498671546682-94a232c26d17?q=80&w=2603&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">White Widow</h5>
                                            <p class="card-text">Some description text</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Intensität: stark</li>
                                            <li class="list-group-item">Bewertung: 4 von 5 Sternen</li>
                                        </ul>
                                        <div class="card-body align-self-end">
                                            <a class="btn btn-outline-primary card-link me-2" href="#">Mehr erfahren</a>
                                        </div>
                                    </div>

                                    <div class="card rounded-3 mb-4" style="width: auto;">
                                        <div class="cropped-img rounded-top-3">
                                            <img src="https://images.unsplash.com/photo-1498671546682-94a232c26d17?q=80&w=2603&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">White Widow</h5>
                                            <p class="card-text">Some description text</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Intensität: stark</li>
                                            <li class="list-group-item">Bewertung: 4 von 5 Sternen</li>
                                        </ul>
                                        <div class="card-body align-self-end">
                                            <a class="btn btn-outline-primary card-link me-2" href="#">Mehr erfahren</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col p-3">
                                    <div class="card rounded-3 mb-4" style="width: auto;">
                                        <div class="cropped-img rounded-top-3">
                                            <img src="https://images.unsplash.com/photo-1498671546682-94a232c26d17?q=80&w=2603&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">White Widow</h5>
                                            <p class="card-text">Some description text</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Intensität: stark</li>
                                            <li class="list-group-item">Bewertung: 4 von 5 Sternen</li>
                                        </ul>
                                        <div class="card-body align-self-end">
                                            <a class="btn btn-outline-primary card-link me-2" href="#">Mehr erfahren</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col p-3">
                                    <div class="card rounded-3 mb-4" style="width: auto;">
                                        <div class="cropped-img rounded-top-3">
                                            <img src="https://images.unsplash.com/photo-1498671546682-94a232c26d17?q=80&w=2603&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="card-img-top" alt="...">
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">White Widow</h5>
                                            <p class="card-text">Some description text</p>
                                        </div>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item">Intensität: stark</li>
                                            <li class="list-group-item">Bewertung: 4 von 5 Sternen</li>
                                        </ul>
                                        <div class="card-body align-self-end">
                                            <a class="btn btn-outline-primary card-link me-2" href="#">Mehr erfahren</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                Platzhalter Zubehör
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                Platzhalter Sonstiges
            </div>
        </div>
    </div>
{% endblock %}
