$primary: #0C4F11 !default;
$navbar-light-color: #212832;
$navbar-dark-color: #DFDFDF;

@import "~bootstrap/scss/bootstrap.scss";

.dropdown-user-details-name {
  color: #212832;
  font-weight: 500;
  font-size: 0.9rem;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-user-details-email {
  color: #69707a;
  font-size: 0.75rem;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-item-icon {
  color: #a7aeb8;
  margin-right: 0.5rem;
  line-height: 1;
}

.dropdown-notifications-header {
  background-color: $primary;
  color: $light !important;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1;
}

.dropdown-notifications {
  padding-top: 0;
  padding-bottom: 0;
  overflow-x: hidden;
  width: 20rem;
}

.alert-item {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e9ecef;
}

.alert-date {
  color: #777;
  font-size: 0.9rem;
}

.dropdown-notifications-footer {
  justify-content: center;
  font-size: 0.8rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #a7aeb8;
  cursor: pointer;
}

[data-bs-theme="dark"] {
  .dropdown-user-details-name {
    color: #DFDFDF;
  }

    .bd-navbar {
    background-color: #050910;
  }

  .nav-link {
    color: #DFDFDF !important;
  }

  code {
    background-color: #1b1e21 !important;
  }
}

.form-control {
  margin-bottom: 0.5rem; // Kleinere Abstände zwischen den Feldern
}

.form-check {
  display: flex;
  align-items: center;
}

.form-check-label {
  margin-left: 0.5rem; // Abstand zum Checkbox-Label
}

button.btn {
  margin-top: 1rem; // Reduzierter Abstand über dem Button
}
