// Bootstrap
@import "~bootstrap/scss/bootstrap.scss";

// ion-rangeslider
@import "ion-rangeslider/css/ion.rangeSlider.min.css";
.irs {
  width: 100% !important;
}

.irs-bar {
  background-color: $primary !important;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single {
  background-color: $primary !important;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
  border-top-color: $primary !important;
}

.irs--flat .irs-handle>i:first-child {
  background-color: $primary !important;
}

// Leaflet
@import "leaflet/dist/leaflet.css";
@import "leaflet.locatecontrol/dist/L.Control.Locate.css";
@import "leaflet-geosearch/dist/geosearch.css";
@import "leaflet-easybutton/src/easy-button.css";

// Select2
@import "select2/dist/css/select2.css";