{% extends 'base.html.twig' %}

{% block title %}Cannabis Vereine{% endblock %}

{% block body %}
{#    {{ form(form) }}#}

    <h1 class="">Vereine</h1>
    <h3>Finde oder erstelle Vereine</h3>

{% endblock %}
