<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {# We need to load this Script first, to avoid site flickering #}
        {% include 'templates/_bootstrap_darkMode.js.twig' %}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'templates/_navbar.html.twig' %}

        {% block body %}{% endblock %}
    </body>

    {% block script %}{% endblock %}
</html>
