{% extends 'base.html.twig' %}

{% block title %}Cannastrain Library | WeedWizard{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cannastrain_library') }}
{% endblock %}

{% block body %}
    {% block container_class %}
        <div class="container-fluid">
    {% endblock %}

    {# Header #}
    {% include 'templates/_header.html.twig' with {
        'title': 'CannaStrain Library'
    } %}
    <div class="d-flex justify-content-between mb-4">
        <h5>1. Wähle einen Züchter aus.</h5>
    </div>

    {# Tabs list #}
    {% include 'cannastrain_library/partials/_tab_list.html.twig' %}

    {# Tabs content #}
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="d-flex flex-row border-top-4" id="database-container">

                {# Filters sidebar #}
                {% include 'cannastrain_library/partials/_filters_sidebar.html.twig' %}

                {# Breeders overview #}
                <div class="flex-grow-1" id="results">
                    <div class="container-fluid">
                        <div class="row">
                            {% for breeder in breeders %}
                                {% include 'cannastrain_library/partials/_breeder_card.html.twig' with {
                                    'image': breeder.logo,
                                    'name': breeder.name,
                                    'seedfinder_id': breeder.seedfinder_id,
                                    'description': 'Keine Beschreibung verfügbar',
                                    'strains_count': breeder.strains|length,
                                    'rating': 'Keine Wertung verfügbar',
                                    'source': 'SeedFinder',
                                } %}
                            {% endfor %}
                            <div id="no-results" class="alert alert-warning" style="display: none;">
                                Keine Ergebnisse gefunden. Bitte schränke deine Suche weniger ein.
                            </div>
                        </div>

                        {# Pagination #}
{#                        {% include 'cannastrain_library/partials/_pagination.html.twig' with {#}
{#                            'pagination_path' : 'weedwizard_cannastrain-library',#}
{#                        } %}#}
                    </div>
                </div>
            </div>
        </div>

        {# Additional tabs #}
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            Hier wird eines Tages etwas Großartiges entstehen.
        </div>

        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            Hier wird eines Tages etwas Großartiges entstehen.
        </div>
    </div>
    </div>
{% endblock %}
